# Data & artefak besar
data/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
notebooks/runs/

# Virtual env & env vars
venv/
.env

# Archive & temporary
archive/
*.tmp
*.bak
mlflow/.trash

# File Bawaan
notebooks/yolo11n.pt
notebooks/yolo8n-cls.pt