# Data & artefak besar
data/raw/
data/processed/
mlflow/
logs/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
notebooks/runs/

# Virtual env & env vars
venv/
.env

# Archive & temporary
archive/
*.tmp
*.bak
